services:
  server:
    build: ./server
    container_name: ai-final-project-server
    ports:
      - "3001:3001"
    env_file:
      - ./server/.env

  client:
    build: ./client
    container_name: ai-final-project-client
    ports:
      - "5173:5173"
    depends_on:
      - server

